[submodule "vim/vimfiles/bundle/vim-fugitive"]
	path = vim/vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vimfiles/bundle/vim-surround"]
	path = vim/vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vimfiles/bundle/vim-riv"]
	path = vim/vimfiles/bundle/vim-riv
	url = https://github.com/Rykka/riv.vim.git
[submodule "vim/vimfiles/bundle/vim-syntastic"]
	path = vim/vimfiles/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfiles/bundle/vim-outliner"]
	path = vim/vimfiles/bundle/vim-outliner
	url = https://github.com/cptBaines/vimoutliner
[submodule "vim/vimfiles/bundle/vim-vinegar"]
	path = vim/vimfiles/bundle/vim-vinegar
	url = https://github.com/cptbaines/vim-vinegar
