= <FILENAME>

:Author: Björn Nilsson
:Date: <DATE>
:Rev: 1.0 
:Tags:
:Document:
:doclink:

== Notes

[cols=">1s,<2",width="20%",frame="none",grid="none"]
|====
|Author: | {Author}
|Date:   | {Date}
|Rev:    | {Rev}
|Tags:   | {Tags}
|Doc:    | link:{doclink}[{Document}]
|====


