set my_domain=example.com
set my_user=first.last
set my_pwd=SecretPwd
set my_account=$my_user@$my_domain

set realname="First Last"
set from=$my_account

set imap_user=$my_account
set imap_pass=$my_pwd
set folder="imaps://$my_domain/"
set spoolfile="+INBOX"
set record="+INBOX.Sent"
set postponed="+INBOX.Drafts"
set trash="+INBOX.Trash"
set smtp_pass=$my_pwd 
set smtp_url="smtp://$my_account@$my_domain:587"
